@media screen and (max-width:767px){
  .container{
    width: 100%;
  }
  .nav-header{
    display: none;
  }
  .main{
    height: calc(100vh - 45px);
    top: 49px;
  }
  .main::before{
    transform: skew(-26.0deg);
    -webkit-transform: skew(-26.0deg);
    -moz-transform: skew(-26.0deg);
    -ms-transform: skew(-26.0deg);
    -o-transform: skew(-26.0deg);
}
  .main .container{
    overflow: hidden;
    height: 95%;
    display: block;
  }
  .main .container .image, .main .container .text{
    margin-top: 2rem;
  }
  .main .container .text .title{
    padding-top: 2rem;
  }
  .articles{
    padding-block: 3rem;
  }
  .articles .box,
  .gallery .items ,
  .features .box,
  .testimonials .items,
  .team-members .items,
  .services .items {
    grid-template-columns: repeat(1,1fr);
  }
  .skills .box,
  .works .box,
  .works .box .work .item{
    flex-direction: column;
  }
  .skills .box{
    align-items: unset;
  }
  .works .box .image img,
  .skills .box .image img{
    width: 100%;
  }
  .works .box .work{
    margin-top: 1rem;
  }
  .works .box .work .item .info .name{
    text-align: center;
  }
}
@media screen and (min-width:768px) and (max-width:991px){
  .container{
    width: 100%;
  }
}
@media screen and (min-width:992px){
  .container{
    width: 85%;
  }
  .navbar{
    display: none;
  }
}